// COLORS
$brownLeather: #593215; // medium leather BROWN
$paperBrown: #884E1F; // medium natural paper BROWN
$lightGREY: #D7D8D9; // warm light GREY
$darkGREY: #2D2D2D; // dark GREY
$lightTAN: #BF985A; // light TAN paper
$charcoalGREY: rgba(41,41,41,1); // medium charcoal GREY unobtrusive
$RobinHoodForestGREEN: #04460E; // Robin Hood forest GREEN
$RomanLegionaryRED: #880808; // Roman Legionary RED
$RomanLegionaryScutumCRIMSON: #712620; // Scutum shield CRIMSON
$RomanNavalBLUE: rgb(47,74,159); // Roman Naval dark BLUE
$RomanRepublicRichGOLD: #C99028; // Roman Republic rich GOLD
$RomanPatricianPURPLE: rgb(69,34,143); // Roman Senatorial Patrician Prætorian PURPLE
$TyrianPURPLE: #66023C; // Tyrian dye PURPLE
$ObsidianPURPLE: #442486;